#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #232323, #b0b0b8);
  min-height: 100vh; 
  padding-top: 50px;
  align-items: center;
}

.todo-container {
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 2px 4px;
}

.todo-title {
  text-align: center;
  color: #000000;
  font-size: xx-large;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.todo-add-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #000000;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px;
  align-items: center;

}

.todo-check-button {
  /* background-color: transparent; */
  /* border: 1px solid #ced4da; */
  border: none;
  /* border-radius: 50%;  */
  /* padding: 6px; */
  /* margin-left: auto; */
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.todo-check-button:hover {
  background-color: #e9ecef;
}

.todo-delete-button {
  background-color: transparent;
  border: none;
  padding: 6px;
  margin-left: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-delete-button:hover {
  background-color: #e9ecef;
}
