#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #232323, #b0b0b8);
  min-height: 100vh; 
  padding-top: 50px;
  align-items: center;
}

.todo-container {
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 2px 4px;
  overflow: scroll;
}

.todo-title {
  text-align: center;
  color: #000000;
  font-size: xx-large;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #0c0c0c;
  border-radius: 4px;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.add-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #000000;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  transition: transform 0.3s ease;
  
}

.check-button {
  
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 2px;
  font-size: 21px;
}

.check-button:hover {
  background-color: #e9ecef;
}

.delete-button {
  background-color: transparent;
  border: none;
  padding: 2px;
  /* size: 5px; */
  /* margin-left: 6px; */
  font-size: 20px;
  cursor: pointer;
} 

.delete-button:hover {
  background-color: #e9ecef;
}


.edit-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 2px;
  font-size: 20px;
}

.edit-button:hover {
  background-color: #e9ecef;
}


/* .check-button::before {
  content: '\2714'; /* Unicode character */
  /* color: #888; 
  font-size: 1.2em; 
  background-color: transparent;
  border: none;
} */
/* 
.edit-button::before {
  content: '\270E'; 
  color: #888; 
  font-size: 1.2em; 
  background-color: #ffffff;
  border: none;
} */ 

/* .delete-button::before {
  content: '\1F5D1'; 
  color: #888; 
  font-size: 1.2em; 
  background-color: transparent;
  border: none;
} */


