#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  min-height: 100vh; 
  padding-top: 50px;
  align-items: center;
}

.todo-container {
  max-width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-title {
  text-align: center;
  color: #007bff;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.todo-add-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-add-button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-check-button {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 50%; 
  padding: 6px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-check-button:hover {
  background-color: #e9ecef;
}

.todo-delete-button {
  background-color: transparent;
  border: none;
  padding: 6px;
  margin-left: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-delete-button:hover {
  background-color: #e9ecef;
}
